<ul class="list-group mb-3">

    <li class="list-group-item d-flex justify-content-between lh-sm">
        <div>
            <h6 class="my-0">{{countries[10].name}} 
                <img src={{countries[10].flag}} width="20%">
            </h6>
        </div>
        <button class="btn btn-secondary" (click)="sendCountry('Argentina')">Select</button>
    </li>

    <li class="list-group-item d-flex justify-content-between lh-sm">
        <div>
            <h6 class="my-0">{{countries[239].name}} 
                <img src={{countries[239].flag}} width="20%">
            </h6>
        </div>
        <button class="btn btn-secondary" (click)="sendCountry('United States of America')">Select</button>
    </li>

    <li class="list-group-item d-flex justify-content-between lh-sm">
        <div>
            <h6 class="my-0">{{countries[114].name}} 
                <img src={{countries[114].flag}} width="20%">
            </h6>
        </div>
        <button class="btn btn-secondary" (click)="sendCountry('Japan')">Select</button>
    </li>

    <li class="list-group-item d-flex justify-content-between lh-sm">
        <div>
            <h6 class="my-0">{{countries[212].name}} 
                <img src={{countries[212].flag}} width="20%">
            </h6>
        </div>
        <button class="btn btn-secondary"  (click)="sendCountry('Spain')">Select</button>
    </li>

    <li class="list-group-item d-flex justify-content-between lh-sm">
        <div>
            <h6 class="my-0">{{countries[185].name}} 
                <img src={{countries[185].flag}} width="20%">
            </h6>
        </div>
        <button class="btn btn-secondary" (click)="sendCountry('Russian Federation')">Select</button>
    </li>

    <li class="list-group-item d-flex justify-content-between lh-sm">
        <div>
            <h6 class="my-0">{{countries[104].name}} 
                <img src={{countries[104].flag}} width="20%">
            </h6>
        </div>
        <button class="btn btn-secondary"  (click)="sendCountry('India')">Select</button>
    </li>

</ul>