<div class="h-100 p-5 bg-light">
    <table style="width:75%">
        <tr>
        <th>ID:</th>
        <td>{{unaPelicula.id}}</td>
        </tr>

        <tr>
        <th>Nombre:</th>
        <td>{{unaPelicula.nombre}}</td>
        </tr>

        <tr>
        <th>Tipo:</th>
        <td>{{unaPelicula.tipo}}</td>
        </tr>

        <tr>
        <th>Fecha de estreno:</th>
        <td>{{unaPelicula.fechaDeEstreno}}</td>
        </tr>

        <tr>
        <th>Cantidad de publico:</th>
        <td>{{unaPelicula.cantidadDePublico}}</td>
        </tr>

        <tr>
        <th>Foto:</th>
        <td><img src="{{unaPelicula.fotoDeLaPelicula}}" width="60%" height="60%"></td>
        </tr>
    </table>
</div>